:root {
    --primary-bg-color: #ffffff;
    --dark-text-color: #000000;
    --light-text-color: #222222;
    --lightes-text-color: #777777;
    --colored-text: #3D806F;
    --primary-button-bg: #222222;
    --primary-border-color: #E7E7E7;
}